@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playwrite+NZ+Basic:wght@100..400&display=swap');
*{
  /* background-color: white; */
  color: black;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}
