@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playwrite+NZ+Basic:wght@100..400&display=swap');


#bottom{
    background: linear-gradient(transparent,black);
}

*{
  /* background-color: white; */
  color: white ;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
  /* background: #000; */
}
:root{
    --c1:rgb(7, 35, 67);
    --c2:rgb(20, 65, 117);
    --c3:rgb(29, 84, 108);
    --c4:rgb(244, 244, 244);

}